# Python Full Course for Beginners

Why Learn Python?
1. Beginner Friendly ‚Äì Perfect as a first programming language.
2. High Demand ‚Äì Python developers are in demand in tech companies.
3. Versatile ‚Äì You can build websites, analyze data, automate tasks, and more.
4. Career Opportunities ‚Äì Used in AI, finance, cybersecurity, and more.


Python is a high-level, interpreted programming language that is known for its simplicity, readability, and versatility. It is widely used by beginners and professionals alike in areas such as:

* Web development (e.g., using Django, Flask)

* Data science & machine learning (e.g., using Pandas, NumPy, scikit-learn)

* Automation & scripting

* Game development

* Cybersecurity

* Mobile and desktop applications

### Print Statements

In [1]:
print("Hello")

Hello

In [2]:
print(100)

100

In [3]:
print(25+75)

100

## üì¶ Variable
#### A variable is a container that holds a value in memory.

In [6]:
# This is a simple Python program that uses variables
# Declaring variables
name="Ali"
age=18
# Printing variables
print("My name is",name,"and my age is",age)

My name is Ali and my age is 18

### What is an Identifier in Python?

An identifier is the name used to identify a variable, function, class, module, or object in Python.
Examples of identifiers:
* age = 25
* student_name = "Ali"
* totalAmount = 100.50

### Rules for Writing Identifiers in Python

1. Can only contain letters (A-Z, a-z), digits (0-9), and underscores (_)
  valid_name = "Yes"
  name123 = "Valid"
  _myVar = "Also valid"
 2. Cannot start with a digit
  123name = "Invalid"   # ‚ùå Not allowed
  name123 = "Valid"     # ‚úÖ Allowed
 3. Cannot use special characters (!, @, #, $, %, etc.)
  name@ = "Invalid"     # ‚ùå Error
  first-name = "Error"  # ‚ùå Hyphen not allowed
4. Cannot be a Python keyword
  for = 5
5. Identifiers are case-sensitive
  Name = "Alice"
  name = "Bob"
  print(Name)  # Alice
  print(name)  # Bob
  **Name and name are treated as different identifiers.**

In [10]:
#age is an identifier and It's used to name the variable that stores the value 25.
age = 25

In [11]:
# Variable declaration using valid identifiers
name = "Ali"
age = 22
country = "Pakistan"

# Displaying values
print("Name:", name)
print("Age:", age)
print("Country:", country)

Name: Ali
Age: 22
Country: Pakistan

### 2. Data Types in Python

A data type tells Python what kind of value is stored in a variable.
Each value in Python has a specific data type, like a number, text, or list.

### How to Check the Data Type?
    x = 5
    print(type(x))  # Output: <class 'int'>

### Basic/Primary Data Types

In [16]:
# Integer Data Type
age = 22
print("Age:", age)
print("Type of age:", type(age))  # <class 'int'>

Age: 22
Type of age: <class 'int'>

In [19]:
# String Data Type
name1= "ali"
name2='ali'
name3="""ali"""
print(name1,name2,name3)
print("Type of name 1",type(name1))
print("Type of name 2",type(name2))
print("Type of name 3",type(name3))

ali ali ali
Type of name 1 <class 'str'>
Type of name 2 <class 'str'>
Type of name 3 <class 'str'>

In [20]:
# Float Data Type
pi = 3.14
print(type(pi))  # Output: <class 'float'>

<class 'float'>

In [21]:
#Boolean Data Type
is_online = True
print(type(is_online))  # Output: <class 'bool'>

<class 'bool'>

In [22]:
is_age_for_Vote=True
print(type(is_age_for_Vote))

<class 'bool'>

Built in Data Types

| Data Type | Description                          | Changeable? | Ordered? | Duplicate Items?           |
| --------- | ------------------------------------ | ----------- | -------- | -------------------------- |
| `list`    | Ordered collection (like a basket)   | ‚úÖ Yes       | ‚úÖ Yes    | ‚úÖ Yes                      |
| `tuple`   | Ordered collection (unchangeable)    | ‚ùå No        | ‚úÖ Yes    | ‚úÖ Yes                      |
| `dict`    | Key-value pairs                      | ‚úÖ Yes       | ‚úÖ Yes    | ‚ùå No (keys must be unique) |
| `set`     | Unordered collection of unique items | ‚úÖ Yes       | ‚ùå No     | ‚ùå No                       |

In [24]:
# ‚úÖ Basic and Built-in Data Types in Python

# Integer
age = 22
print("Age:", age)
print("Type of age:", type(age))  # <class 'int'>

# Float
height = 5.9
print("\nHeight:", height)
print("Type of height:", type(height))  # <class 'float'>

# String
name = "Ali"
print("\nName:", name)
print("Type of name:", type(name))  # <class 'str'>

# Boolean
is_student = True
print("\nIs Student:", is_student)
print("Type of is_student:", type(is_student))  # <class 'bool'>

# List
fruits = ["apple", "banana", "cherry"]
print("\nFruits:", fruits)
print("Type of fruits:", type(fruits))  # <class 'list'>

# Tuple
dimensions = (10, 20)
print("\nDimensions:", dimensions)
print("Type of dimensions:", type(dimensions))  # <class 'tuple'>

# Dictionary
person = {"name": "Ali", "age": 22}
print("\nPerson:", person)
print("Type of person:", type(person))  # <class 'dict'>

# Set
unique_numbers = {1, 2, 3}
print("\nUnique Numbers:", unique_numbers)
print("Type of unique_numbers:", type(unique_numbers))  # <class 'set'>

Age: 22
Type of age: <class 'int'>

Height: 5.9
Type of height: <class 'float'>

Name: Ali
Type of name: <class 'str'>

Is Student: True
Type of is_student: <class 'bool'>

Fruits: ['apple', 'banana', 'cherry']
Type of fruits: <class 'list'>

Dimensions: (10, 20)
Type of dimensions: <class 'tuple'>

Person: {'name': 'Ali', 'age': 22}
Type of person: <class 'dict'>

Unique Numbers: {1, 2, 3}
Type of unique_numbers: <class 'set'>