## Operators and its Types
Operators are special symbols used to perform operations on variables and values.

<h2 style="color:#1F618D; text-align:center;">📘 Python Operators – Theory Table</h2>

<table border="1" cellpadding="12" style="width:100%; border-collapse: collapse; font-size: 18px;">
  <thead style="background-color:#3498DB; color:white;">
    <tr>
      <th>🔧 Operator Type</th>
      <th>📌 Purpose</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="background-color:#D6EAF8;">Arithmetic</td>
      <td style="background-color:#FCF3CF;">Used to perform basic mathematical operations like addition, subtraction, multiplication, division, etc.</td>
    </tr>
    <tr>
      <td style="background-color:#D6EAF8;">Assignment</td>
      <td style="background-color:#FCF3CF;">Used to assign or update values stored in variables.</td>
    </tr>
    <tr>
      <td style="background-color:#D6EAF8;">Relational (Comparison)</td>
      <td style="background-color:#FCF3CF;">Used to compare two values and return a boolean result (True or False).</td>
    </tr>
    <tr>
      <td style="background-color:#D6EAF8;">Logical</td>
      <td style="background-color:#FCF3CF;">Used to combine multiple conditions or boolean expressions.</td>
    </tr>
  </tbody>
</table>

### 1. Arithmetic Operator

In [24]:
# Arithmetic Operators
a = 10
b = 3

print("Addition:", a + b)        # 13
print("Subtraction:", a - b)     # 7
print("Multiplication:", a * b)  # 30
print("Division:", a / b)        # 3.33
print("Modulus:", a % b)         # 1
print("Floor Division:", a // b) # 3
print("Exponent:", a ** b)       # 1000

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Modulus: 1
Floor Division: 3
Exponent: 1000

## 2. Relational/Comparsion Operators

In [26]:
# Relational Operators
a = 7
b = 5

print("a == b:", a == b)   # False
print("a != b:", a != b)   # True
print("a > b:", a > b)     # True
print("a < b:", a < b)     # False
print("a >= b:", a >= b)   # True
print("a <= b:", a <= b)   # False

a == b: False
a != b: True
a > b: True
a < b: False
a >= b: True
a <= b: False

## 3. Assignment Operator

In [14]:
num1=15
num = num1+15
print(num)

30

In [25]:
# Assignment Operators
x = 5
print("Initial x:", x)

x += 3   # x = x + 3
print("After x += 3:", x)

x *= 2   # x = x * 2
print("After x *= 2:", x)

x -= 4   # x = x - 4
print("After x -= 4:", x)

x /= 2   # x = x / 2
print("After x /= 2:", x)

Initial x: 5
After x += 3: 8
After x *= 2: 16
After x -= 4: 12
After x /= 2: 6.0

### 4.Logical Operators

In [16]:
#Not Operator
print(not False)
print(not True)

True
False

In [17]:
a=50
b=30
print(not(a>b))

False

In [22]:
#AND operator
val1 = True
val2 = False
print(val1 and val2)
print(val2 and val1)
print(val2 and val2)
print(val1 and val1)

False
False
False
True

In [23]:
#OR Operator
val1 = True
val2 = False
print(val1 or val2)
print(val2 or val1)
print(val2 or val2)
print(val1 or val1)

True
True
False
True

In [27]:
# Logical Operators
x = True
y = False

print("x and y:", x and y)   # False
print("x or y:", x or y)     # True
print("not x:", not x)       # False

# With conditions
a = 10
b = 5

print("(a > 5 and b < 10):", a > 5 and b < 10)  # True
print("(a < 5 or b < 10):", a < 5 or b < 10)    # True

x and y: False
x or y: True
not x: False
(a > 5 and b < 10): True
(a < 5 or b < 10): True

<center>
  <h2 style="color:#1F618D;">⚙️ Python Operators</h2>
  <table border="1" cellpadding="12" style="width:90%; font-size:18px; border-collapse: collapse; text-align: center;">
    <thead style="background-color:#D6EAF8;">
      <tr>
        <th>🔧 Operator Type</th>
        <th>🧪 Operators</th>
        <th>💡 Description</th>
        <th>🔍 Example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="background-color:#FCF3CF;">Arithmetic</td>
        <td>+, -, *, /, %, //, **</td>
        <td>Used for mathematical operations</td>
        <td>5 + 3 = 8</td>
      </tr>
      <tr>
        <td style="background-color:#D5F5E3;">Assignment</td>
        <td>=, +=, -=, *=, /=</td>
        <td>Assign values or update them</td>
        <td>x += 2  ➝ x = x + 2</td>
      </tr>
      <tr>
        <td style="background-color:#FADBD8;">Relational (Comparison)</td>
        <td>==, !=, >, <, >=, <=</td>
        <td>Compare two values</td>
        <td>5 > 3  ➝ True</td>
      </tr>
      <tr>
        <td style="background-color:#E8DAEF;">Logical</td>
        <td>and, or, not</td>
        <td>Combine conditions</td>
        <td>(x > 5 and y < 10)</td>
      </tr>
    </tbody>
  </table>
</center>

<h2 style="color:#1A5276; text-align:center;">🧮 Python Operators – Complete Working Table</h2>

<table border="1" cellpadding="10" style="width:100%; font-size:17px; border-collapse:collapse; text-align:center;">
  <tr style="background-color:#3498DB; color:white;">
    <th>Operator Type</th>
    <th>Operator</th>
    <th>Expression</th>
    <th>Result</th>
  </tr>

  <!-- Arithmetic -->
  <tr><td rowspan="7" style="background-color:#D6EAF8;">Arithmetic</td><td>+</td><td>5 + 3</td><td>8</td></tr>
  <tr><td>-</td><td>9 - 4</td><td>5</td></tr>
  <tr><td>*</td><td>6 * 2</td><td>12</td></tr>
  <tr><td>/</td><td>8 / 2</td><td>4.0</td></tr>
  <tr><td>%</td><td>10 % 3</td><td>1</td></tr>
  <tr><td>//</td><td>10 // 3</td><td>3</td></tr>
  <tr><td>**</td><td>2 ** 3</td><td>8</td></tr>

  <!-- Assignment -->
  <tr><td rowspan="8" style="background-color:#FCF3CF;">Assignment</td><td>=</td><td>x = 10</td><td>x becomes 10</td></tr>
  <tr><td>+=</td><td>x = 5; x += 3</td><td>x becomes 8</td></tr>
  <tr><td>-=</td><td>x = 7; x -= 2</td><td>x becomes 5</td></tr>
  <tr><td>*=</td><td>x = 4; x *= 2</td><td>x becomes 8</td></tr>
  <tr><td>/=</td><td>x = 8; x /= 4</td><td>x becomes 2.0</td></tr>
  <tr><td>//=</td><td>x = 9; x //= 2</td><td>x becomes 4</td></tr>
  <tr><td>**=</td><td>x = 3; x **= 2</td><td>x becomes 9</td></tr>
  <tr><td>%=</td><td>x = 10; x %= 4</td><td>x becomes 2</td></tr>

  <!-- Relational -->
  <tr><td rowspan="6" style="background-color:#FADBD8;">Relational</td><td>==</td><td>5 == 5</td><td>True</td></tr>
  <tr><td>!=</td><td>5 != 3</td><td>True</td></tr>
  <tr><td>></td><td>7 > 2</td><td>True</td></tr>
  <tr><td><</td><td>4 < 6</td><td>True</td></tr>
  <tr><td>>=</td><td>6 >= 6</td><td>True</td></tr>
  <tr><td><=</td><td>3 <= 5</td><td>True</td></tr>

  <!-- Logical -->
  <tr><td rowspan="3" style="background-color:#E8DAEF;">Logical</td><td>and</td><td>True and False</td><td>False</td></tr>
  <tr><td>or</td><td>True or False</td><td>True</td></tr>
  <tr><td>not</td><td>not True</td><td>False</td></tr>
</table>