## Loops in Python
Loops are used to repeat instructions.

### 1. While Loop
A while loop in Python is used to repeat a block of code as long as a specified condition is True.

* condition is checked before each loop iteration.

* The loop runs until the condition becomes False.

* You must update the condition inside the loop (to avoid infinite loop).

In [4]:
count =1 #variable intiialize
while count<= 5: #condition
  print("Hello World!")
  count += 1

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [8]:
#print numbers from 1 to 10
i = 1
while i<= 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [10]:
#print number from 10 to 1
i = 10
while i>= 1:
  print(i)
  i -= 1

print("Loop Ended")

10
9
8
7
6
5
4
3
2
1
Loop Ended

In [20]:
#Multiplication Table of a number n
n =int(input("Enter a Number: "))
i=1
while i<= 10:
  print(f"{n}*{i}={n*i}")
  i += 1

Enter a Number: 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [28]:
#print the elements of the list using loop [1,5,10,15,20,25,30,35,40,45]
num = [1,5,10,15,20,25,30,35,40,45]
#len(num)
i = 0
while i<len(num):
  print(num[i])
  i += 1

1
5
10
15
20
25
30
35
40
45

In [38]:
# Search for a number x  in the tuple using loop (1,5,10,15,20,25,30,35,40,40,45)

x =int(input("Enter a number x for search : "))
num = (1,5,10,15,20,25,30,35,40,40,45)
i =0
while i<len(num):
  if(num[i]==x):
    print(f"{x} is found at index {i}")
  else:
    print("Wait! Searching")
  i += 1

Enter a number x for search : 40
Wait! Searching
Wait! Searching
Wait! Searching
Wait! Searching
Wait! Searching
Wait! Searching
Wait! Searching
Wait! Searching
40 is found at index 8
40 is found at index 9
Wait! Searching

### <font color="Green"><b>Break and Continue</b></font>
<font color="blue"><b>Break:</b></font> used to terminate a loop when encountered.

<font color= "blue"><b>Continue:</b></font> terminates execution in the current iteration & continues execution of the loop with next iteration

In [2]:
#break
i = 0
while(i<=5):
  if(i==3):
    break
  print(i)
  i+= 1

0
1
2

In [7]:
#continue
i = 0
while(i<=5):
  if(i==3):
    i += 1
    continue
  print(i)
  i+= 1

0
1
2
4
5

In [9]:
i=1
while(i<=10):
  if(i%2!=0):
    i+=1
    continue
  print(i)
  i+=1

2
4
6
8
10

### 2.For Loop
For Loop are used for Sequential Traversal.For traversing List,string,tuples,etc.
* The loop runs once for each item in the sequence.

* The variable takes the value of each item, one at a time.

In [1]:
list =[2,4,6,8,10]
for i in list:
  print(i)

2
4
6
8
10

In [2]:
fruits =["apple","mango","banana","grapes","orange","strawberry"]
for f in fruits:
  print(f)

apple
mango
banana
grapes
orange
strawberry

In [3]:
tuple = (1,3,5,7,9,11)
for n in tuple:
  print(n)

1
3
5
7
9
11

In [5]:
from ctypes import string_at
string ="python"
for s in string:
  print(s)

p
y
t
h
o
n

In [7]:
#print the elements of the list using loop [1,5,10,15,20,25,30,35,40,45]
num = [1,5,10,15,20,25,30,35,40,45]
#len(num)

for i in num:
  print(i)

1
5
10
15
20
25
30
35
40
45

In [10]:
# Search for a number x  in the tuple using loop (1,5,10,15,20,25,30,35,40,40,45)

x =int(input("Enter a number x for search : "))
num = (1,5,10,15,20,25,30,35,40,40,45)
for i in num:
  if(i==x):
    print(f"{x} is found at index {i}")

Enter a number x for search : 5
5 is found at index 5


<font color="blue"><b>Range Function</b></font>: returns a sequence of numbers,starting from 0 by default,and increments by 1 (by defualt) and stops before a specified number.

<font color="gray"><b>Syntax:</b>range(start?,stop,step?)</font><b> <---?</b> means optional

In [12]:
for n in range(5):
  print(n)

0
1
2
3
4

In [15]:
for n in range(1,10):
  print(n)

1
2
3
4
5
6
7
8
9

In [17]:
for n in range(1,10,2):
  print(n)

1
3
5
7
9

In [20]:
#using for and range:print numbers from 1 to 20
for i in range(1,21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [24]:
#using for and range:print numbers from 20 to 1
for i in range(20,0,-1):
  print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [28]:
#print a multiplication table of a number n
n = int(input("Enter a number of table:"))
for i in range(1,11):
  print(f"{n}*{i}={n*i}")

Enter a number of table:5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

<font color="blue"><b>Pass</b></font>: is a null statement that does nothing.It is used as a placeholder for future code.

In [30]:
#pass
for i in range(5):
  pass
print("number")

number

<h2 style="text-align:center; color:#34495E;">🔁 Python Loops: <span style="color:#5DADE2;">while</span> vs <span style="color:#58D68D;">for</span></h2>

<center>
<table border="1" cellpadding="10" style="font-size:16px; border-collapse:collapse;">
  <tr style="background-color:#D6DBDF;">
    <th>🧠 Feature</th>
    <th style="background-color:#EBF5FB;">🔵 while Loop</th>
    <th style="background-color:#E8F8F5;">🟢 for Loop</th>
  </tr>

  <tr>
    <td><b>Purpose</b></td>
    <td>Runs as long as the condition is <code>True</code></td>
    <td>Iterates over a sequence (list, range, etc.)</td>
  </tr>

  <tr style="background-color:#F9F9F9;">
    <td><b>Condition</b></td>
    <td>Checked before each iteration</td>
    <td>Handled automatically by Python</td>
  </tr>

  <tr>
    <td><b>Syntax</b></td>
    <td><code>while condition:<br>&nbsp;&nbsp;&nbsp;&nbsp;code</code></td>
    <td><code>for item in sequence:<br>&nbsp;&nbsp;&nbsp;&nbsp;code</code></td>
  </tr>

  <tr style="background-color:#F9F9F9;">
    <td><b>Control</b></td>
    <td>Must manually update loop variable</td>
    <td>Updates automatically</td>
  </tr>

  <tr>
    <td><b>Example</b></td>
    <td style="background-color:#FCF3CF;">
<pre style="margin:0;">i = 1
while i <= 5:
    print(i)
    i += 1</pre></td>
    <td style="background-color:#D5F5E3;">
<pre style="margin:0;">for i in range(1, 6):
    print(i)</pre></td>
  </tr>

  <tr style="background-color:#F9F9F9;">
    <td><b>Supports</b></td>
    <td><font color="red"><b>break</b></font>, <font color="green"><b>continue</b></font></td>
    <td><font color="red"><b>break</b></font>, <font color="green"><b>continue</b></font></td>
  </tr>
</table>
</center>

<h2 style="text-align:center; color:#5D6D7E;">🔄 Python Loop Control: <i>break</i> vs <i>continue</i></h2>

<center>
<table border="1" cellpadding="10" style="font-size:16px; border-collapse:collapse; width:90%; background-color:#FAFAFA;">
  <tr style="background-color:#D6DBDF;">
    <th>🔸 Feature</th>
    <th style="background-color:#FDEDEC;"><code>break</code></th>
    <th style="background-color:#EBF5FB;"><code>continue</code></th>
  </tr>

  <tr>
    <td><b>Definition</b></td>
    <td>Stops the loop entirely when the condition is met</td>
    <td>Skips the current iteration and continues with the next</td>
  </tr>

  <tr style="background-color:#F9F9F9;">
    <td><b>Loop Behavior</b></td>
    <td>Exits the loop immediately</td>
    <td>Goes back to the start of the loop</td>
  </tr>

  <tr>
    <td><b>When to Use</b></td>
    <td>When you want to stop the loop early</td>
    <td>When you want to skip specific values</td>
  </tr>

  <tr style="background-color:#F9F9F9;">
    <td><b>Example</b></td>
    <td style="background-color:#FEF9E7;">
<pre style="margin:0; font-size:14px;">for i in range(1, 6):
    if i == 4:
        break
    print(i)</pre></td>
    <td style="background-color:#EAF2F8;">
<pre style="margin:0; font-size:14px;">for i in range(1, 6):
    if i == 4:
        continue
    print(i)</pre></td>
  </tr>

  <tr>
    <td><b>Output</b></td>
    <td><code>1<br>2<br>3</code></td>
    <td><code>1<br>2<br>3<br>5</code></td>
  </tr>
</table>
</center>

<!-- Author: Iqra | Do not reuse without permission -->

<p style="text-align:right; font-size:14px; color:gray;">
Created by Iqra Saher | Python Course 2025
</p>